.App {
  text-align: center;
  background: rgb(34,145,195);
  background: linear-gradient(0deg, rgba(34,145,195,1) 0%, rgba(45,94,253,0.8127626050420168) 100%); 
  min-height: 100vh;
  padding: 60px 5px 10px 5px;

}

.title-container{
  position: relative;
  min-height: 50vh;
}
.article-title{
  position: absolute;
  bottom: 0%;
  border:2px solid red;
  overflow: hidden;
  color: black;
  font-weight: bolder;
}
.article-card{
  background: rgb(238,174,202);
  background: linear-gradient(to right, rgb(211, 204, 227), rgb(233, 228, 240));

}
.card-image{
  max-height: 300px;
  max-width: 510px;
}
.content-paragraph {
  font: 15px/1.5 arial, helvetica, sans-serif;
  }
.content-paragraph:first-letter{
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;

}